$tab1 : 1028px;
$tab2 : 768px;
$sp : 480px;

@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Noto+Sans+JP&display=swap');

@mixin mobile {
    @media screen and (max-width: $sp) {
        @content
    }
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'DotGothic16', sans-serif;
    letter-spacing: 1.2px;
    color: #212A3E;

    &.active {
        overflow-y: hidden;
    }
}

header {
    background-color: #394867;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99999;

    #gMenu {
        &.PC {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            color: #fff;
            list-style: none;

            li {
                padding: 20px;
            }

            @include mobile {
                display: none;
            }
        }

        &.SP {
            display: none;

            @include mobile {
                position: relative;
                display: block;
                text-align: center;
                height: 100vh;
                background-color: #394867;
                color: #fff;
                opacity: 0.9;
                width: 100%;
                transform: translateX(100vh);
                transition: all .5s;

                ul {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                }

                &.active {
                    transform: translateX(0);
                    transition: all .5s;
                }
            }
        }
    }

    .hamburger {
        display: none;
    }

    @include mobile {
        height: 64px;

        .hamburger {
            display: block;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 999;

            .hamburger_btn {
                .hamburger-bar {
                    width: 30px;
                    height: 2px;
                    background: #fff;
                    display: block;
                    transition: all .8s;

                    &:nth-child(2) {
                        margin-top: 7px;
                        width: 20px;
                    }

                    &:last-child {
                        margin-top: 7px;
                        width: 10px;
                    }
                }
            }

            &.active {
                .hamburger-bar {
                    position: relative;
                    transform: rotate(45deg);
                    top: 5px;
                    transition: all .5s;

                    &:nth-child(2) {
                        display: none;
                    }

                    &:last-child {
                        transform: rotate(-45deg);
                        width: 30px;
                        top: -4px;
                    }
                }
            }
        }
    }
}

.wrapper {
    background-color: #394867;
    padding: 32px 50px 50px;
}

.inner {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    padding: 30px 30px 50px;
    background-color: #fff;
    border-radius: 5px;
}

.breadcrumbs {
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    opacity: 0.7;
}

h1,
h2 {
    text-align: center;
    padding: 10px;
    margin: 30px auto 100px;
    font-size: 35px;
}

h2 {
    border-bottom: 1px solid #394867;
    width: 300px;
}

.fadein01 {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 1s, transform 1s;
}

.fadein02 {
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 1s, transform 1s;
}

.fadein03 {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1s, transform 1s;
}

.fadein-after {
    opacity: 1;
    transform: translate(0);
}

main {
    max-width: 2000px;
    width: 100%;
    margin: 0 auto;

    @include mobile {
        padding-top: 18px;
    }

}

.slick-dots {
    position: relative !important;
    bottom: 15px !important;
    margin: -32px 0 !important;
}

.slick-dots li button:before {
    color: #fff !important;
}

.contents {
    max-width: 1800px;
    margin: 0 auto;
}

footer {
    background-color: #9BA4B5;

    @include mobile {
        height: 50px;
    }

    .footermenu {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        list-style: none;

        li {
            padding: 20px;

            @include mobile {
                display: none;
            }
        }
    }
}

.copy {
    text-align: center;
    padding-top: 20px;
}

.area-menu-inner {
    margin-top: 2em;

    .h3 {
        font-size: 18px;
        margin-bottom: 1em;
    }

    li {
        display: inline-block;
        padding-right: 1em;
        padding-bottom: 1em;
    }

    ul {
        li a {
            font-size: 14px;
        }
    }
}

.area-menu-inner {
    margin-top: 2em;
    padding: 0 10px;

    .h3 {
        font-size: 18px;
        margin-bottom: 1em;
    }

    li {
        display: inline-block;
        padding-right: 1em;
        padding-bottom: 1em;
    }

    ul {
        li a {
            font-size: 14px;
        }
    }
}

.slide-items {
    width: 100%;
}

.slide-items img {
    width: 100vw;
    height: 450px;
    object-fit: cover;
}

.slick-next {
    right: 10px !important;
}

.slick-prev {
    left: 10px !important;
    z-index: 100;
}

.slick-dots div button:before {
    font-size: 18px;
    top: 6px;
}

.content01 {
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}

.image {
    width: 60%;
    margin: 0 auto;
}

.image img {
    width: 80%;
    margin: 0 auto;
}

.text {
    width: 40%;
    padding: 10% 0;
}

@include mobile {
    .content01 {
        flex-direction: column;
        padding: 0 10px;
    }

    .image {
        width: 100%;
    }

    .text {
        width: 100%;
        padding: 30px 20px;
    }
}



.hl {
    font-size: 30px;
    margin-bottom: 20px;
}

.content02 {
    display: flex;
    width: 90%;
    justify-content: space-around;
    margin: 50px auto 100px;

    a:hover {
        opacity: 1;
        transform: translateY(3px);
        transition: transform .2s;
        animation: .8s ease-out rotating-and-falling-anim;

        @keyframes rotating-and-falling-anim {
            0% {
                transform: translateY(0px) rotateY(0);
            }

            100% {
                transform: translateY(3px) rotateY(360deg);
            }
        }
    }
}

.item {
    width: 70%;
    margin: 0 auto;
    min-height: 500px;
    height: auto;
    background-color: #F1F6F9;
    border-radius: 5px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);

    .desc {
        padding: 30px 0;
        margin: 0 auto;
        max-width: 550px;
        width: 80%;
    }

    h3 {
        text-align: center;
        padding: 20px;
    }

    &:hover {
        box-shadow: 0 0px 1px 0 rgba(0, 0, 0, .5);
    }
}

.icon {
    width: 250px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
}

.icon-size {
    font-size: 10em;
}

@include mobile {
    .content02 {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .item {
        width: 50%;
    }

    .icon-size {
        font-size: 6em;
    }
}

.headimage {
    width: 100%;
    height: 300px;
    background: url(../img/common/headimage.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: "";
        width: 100%;
        height: 300px;
        position: absolute;
        opacity: 0.3;
    }

    h1 {
        z-index: 100;
        color: #fff;
        padding: 130px 0;
        position: relative;
    }

    &.html {
        &::before {
            background-color: #ff0000;
        }
    }

    &.css {
        &::before {
            background-color: #00ff00;
        }
    }

    &.javascript {
        &::before {
            background-color: #0000ff;
        }
    }

    &.blog {
        &::before {
            background-color: #394867;
        }
    }
}

.subpage_contents {
    max-width: 1000px;
    margin: 50px auto;

    h2 {
        text-align: left;
    }

    h3 {
        text-align: center;
    }

    .content {
        margin-bottom: 50px;
    }

    @include mobile {
        .content {
            padding: 0 30px;
        }
    }

    .other_lang {
        display: flex;
        justify-content: space-evenly;
        margin-top: 3em;
    }
}

.list_wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 50px auto;


    .list_inner {
        .list_box {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .list_content {
                width: 30%;
                text-align: left;
                padding: 20px;

                .blog_thumbnail {
                    width: 100%;
                    height: 170px;
                    margin-bottom: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                    }
                }

                .blog_date {
                    font-size: 12px;
                }

                .blog_title {
                    font-weight: bold;
                }

                .blog_text {
                    font-size: 14px;
                }
            }
        }
    }
}

@include mobile {
    .list_wrapper {
        .list_inner {
            .list_box {
                .list_content {
                    width: 50%;

                    .blog_thumbnail {
                        height: 115px;

                        img {
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}

.breadcrumb {
    padding: 30px;

    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
    }

    li:last-child {
        font-weight: bold;
    }

    li:not(:last-child)::after {
        margin: 10px;
        content: ">";
    }
}

.blog_wrapper {
    max-width: 1200px;
    margin: 0 auto;

    .blog_inner {
        .blog_box {
            display: flex;
            padding-top: 10px;
        }

        h2 {
            text-align: left;
            background-color: #7fffd4;
            padding-left: 20px;
        }
    }

    .article {
        width: 75%;
        padding: 30px;
        padding-top: 0;
        padding-left: 0;

        h1 {
            text-align: left;
        }

        .thumbnail {
            width: 100%;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                background-size: cover;
            }
        }

        .toc {
            width: 40%;
            margin: 30px;
            padding: 30px;
            border: 3px solid #394867;
            border-radius: 5px;

            ol::before {
                content: "目次";
                font-size: 20px;
                font-weight: bold;
                top: -10px;
                position: relative;
            }

            li {
                font-weight: bold;
            }
        }

        .text {
            width: 100%;
            padding: 0;

            p {
                margin-bottom: 30px;

            }

        }
    }

    .sidebar {
        width: 25%;
        margin-bottom: 50px;
        border: 1px solid #394867;
        border-radius: 5px;

        &::before {
            content: "記事一覧";
            font-weight: bold;
            top: 10px;
            left: 20px;
            position: relative;
        }

        ul {
            margin-top: 30px;
        }

        li {
            list-style: circle;
            margin: 20px;
            margin-left: 30px;



            .blog_date {
                font-size: 12px;
                top: -15px;
                position: relative;
            }

            .blog_title {
                font-weight: bold;
                padding-left: 20px;
                top: -15px;
                position: relative;
            }
        }
    }

    @include mobile {
        .blog_wrapper {
            width: 100%;
        }

        .article {
            width: 100%;

            .toc {
                width: 80%;
            }
        }

        .sidebar {
            display: none;
        }
    }
}

.go_top {
    background-color: #394867;
    color: #fff;
    font-weight: bold;
    position: fixed;
    bottom: 30px;
    right: 70px;
    padding: 15px;
    border-radius: 35px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);
}

.go_top:hover {
    background-color: #898989;
    opacity: 1;
    transform: translate3d(0, 5px, 0);
    box-shadow: none;
    transition: transform .2s;
}

.contactform {
    margin: 30px auto;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #9BA4B5;
    background-color: #F1F6F9;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .5);

    @include mobile {
        margin: 30px;
    }
}

.contactform table {
    padding: 50px;
    margin: 0 auto;
}

.contactform tr {}

.contactform th {
    width: 25%;
    text-align: right;
}

.contactform td {
    padding-left: 30px;
}

.contactform table th,
.contactform table td {
    @include mobile {
        display: block;
        width: 100%;
        text-align: left;
        padding: 0;
    }
}


.contactform p {
    margin-bottom: 15px;
}

.contactform .sendbtn {
    text-align: center;
    margin-bottom: 40px;
}

.wpcf7 textarea {
    width: 100%;
}

.wpcf7-form-control {
    padding: 5px 10px;
}